{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">New Record</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        <form method="POST" action="/new">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="height" placeholder="Height" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="weight" placeholder="Weight" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="target" placeholder="Target BMI" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <select class="input is-large" name="gender" id="gender" placeholder="Gender" autofocus="">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="date" name="date_of_birth" placeholder="DOB" autofocus="">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Add Record</button>
        </form>
    </div>
</div>
{% endblock %}